.bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.fullPage{
    height: 100vh;
    background-image: url("/bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}